@charset "utf-8";
/**------------------header-------------------*/
.header{
	width:100% ;
	height: 450px;	
}
/*吸顶导航栏*/
.nav{
	height:40px;
	width: 100%;
	color: #fff;
	background: #333;
	min-width: 1010px;
}
.nav:after{
	content: "";
	display: block;
	clear: both;
}
.navfixed{
	height: 40px;
    background: #333;
    color: #999;
    position: fixed;
    z-index: 1000;
    width: 100%;
    min-width: 990px;
}
/*.clearnav{
	width: 100%;
	height: 40px;
}*/
/*导航栏内容*/
.navLeft{
	width: 60%;
	float: left;
	height: 40px;
	box-sizing: border-box;
	/*background: url(../icon/logo_gray.png) no-repeat left center;*/
}

.navLeft ul{}
.navLeft li{
	float: left;
	line-height: 40px;
}
.navLeft li a:hover{
	background: #222;
	color: #fff;
}
.navRight a ,.navLeft li a{
	 font-size: 14px;
    color: #ccc;
    height: 40px;
    padding: 0 10px;
    display: inline-block;
}
.navLeft li img{
	margin-top: 4px;
}
.navLeftspans:hover{
	position: relative;
	top: 5px;
	display: inline-block;
	border-top: 6px solid #999;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}
.navLeftspans{
	display: inline-block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #999;
}
/*-----------------------*/
.navspan{}
/*nav right*/
.navRight{
	width: 400px;
	height: 40px;
	float: right;
	position: relative;
}
.navRightL>ul>li{
	width: 30%;
	margin-left: 2.5%;
	height: 40px;
	box-sizing:border-box;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}
.loginFunction{
	position: relative;
}
.loginFunction img{
	width: 30%;
	position: absolute;
	top: 0;
	left: 20px;
}
.loginFunction div{
	width: 58px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.loginFunction ul{
	position: absolute;
	left: 0;
	top:40px ;
	z-index: 100;
}
.loginFunction li{
	width:58px ;
	height: 40px;
	border: 1px solid #CCC;
}
.loginFunction .Funhidden{
	display: none;
}
 li.loginFunction:hover .Funhidden{
	display: block;
}

.navRightL{
	width: 50%;
	height: 40px;
	float: left;
}
.navRightR{
	width: 48%;
    height: 40px;
    float: right;
}
.navRightRh{
	width: 200px;
	height: 40px;
	float: left;
	display: none;
}
.feedback2,.feedback1{
	width: 40px;
	height: 40px;
	margin-left: 20px;
	float: left;
	color:#ccc;
	font-size:16px;
	line-height: 40px;
}
.feedback1{
	border-radius: 40px;
/*	border: 1px solid #ccc;*/
}
.feedback2 a{
	width: 60px;
	color: #ccc;
}
.navRightRh{
	width: 200px;
	height: 40px;
	background: ;
}
.navRightR {
	position: absolute;
	right: 0;
	top: 0;
}
.navRightR li{
	width: 30%;
	height: 40px;
	box-sizing:border-box;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 14px;s
}
.navRightR li div{
	width: 58px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.navRightR li:nth-child(1){
	background:#59c3d1 ;
}
.navRightR li:nth-child(2){
	background:#ffa859 ;
}
.navRightR li:nth-child(3){
	background:#fe5761 ;
}
.navRightR li div{
	width: 58px;
	height: 20px;
	line-height: 20px;
	text-align: center;	
}
.navRightR img{
	width: 30%;
	/*position: absolute;
	top: 0;
	left: 20px;*/
}

/*header second nav*/
.headerBanner{
	width: 1200px;
	height: 440px;
	margin: 0px auto;
}
.headerBanner:before{
	content: "";
	display: block;
	clear: both;
}
.secnav{
	width: 1200px;
	box-sizing: border-box;
	position: relative;
}
.secnav:after{
	content: "";
	display: block;
	clear: both;
}
.secnavLeft{
	width: 20%;
	height: 75px;
	padding-top: 10px;
	float: left;
	box-sizing: border-box;
}
.secnavCenter{
	width: 54%;
	height: 75px;
	float: left;
}
.secnavCenter ul{}
.secnavCenter li{
	float: left;
	width: 80px;
	height: 75px;
	font-size: 20px;
	font-family: "微软雅黑";
	line-height: 75px;
	text-align: center;
}
.secnavCenter li a{
	color: #333;
}
.secnavCenter li a:hover{
	color: #ff6767;
}
.secnavRight{
	width: 21%;
	height: 75px;
	float: left;
	line-height: 75px;
}
#secRiginp{
	width: 160px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
}
.secnavRight #secRiginp+label{
	display:inline-block;
	border-radius: 0 3px 3px 0;
	float: right;
    height: 28px;
    font-size: 14px;
    color: #fff;
    float: right;
    text-indent: 35px;
    line-height: 28px;
    background: #999;
    width: 84px;
    margin-top: 23px;
}
.banner{
	width: 100%;
	height: 360px;
	overflow: hidden;
	position: relative;
}
.barImgs{
	width: 7200px;
	position: absolute;
	top: 0;
	/*transition 用来提供banner的过度*/
	/*transition: 2s;*/
}
.barImgs img{
	width:1200px;
	float: left;
	height: 360px;
	vertical-align: top;
}
.banImgLi{
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 100;
}
.banImgLi li{
	width: 8px;
	height: 8px;
	margin: 5px;
	border: 1px solid #fff;
	border-radius: 8px;
	float: left;
}
li.spotlight{
	border: 2px solid #ff5f00;
}
.bannerMeun{
	
}
.barMeLeft{
	width:220px;
	height:360px ;
	background: rgba(0,0,0,.3);
	position: absolute;
	z-index: 10;
	color: #fff;
	box-sizing: border-box;
	padding: 30px 0px;
	
}
.barMeLeft ul li{
	height: 60px;
	box-sizing: border-box;
	line-height: 60px;
	padding:15px 21px ;
	position: relative;
}
 li.barLeftLi{
	background: #ff6767;
 }
#span1 ul{}
#span1 ul{
	
}
#span1 a,#span2 a,#span3 a,#span4 a,#span5 a{
	color: #fff;
	width: 100%;
	height: 30px;
	display: block;
	line-height: 30px;
	font-size:20px;
}
#span1 .i1{
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url(../icon/icon1.png);
	background-position:;
}
#span2 .i1{
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url(../icon/icon1.png);
	background-position:-20px 0 ;
}
#span3 .i1{
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url(../icon/icon1.png);
	background-position:-40px 0 ;
}
#span4 .i1{
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url(../icon/icon1.png);
	background-position:-60px 0 ;
}
#span5 .i1{
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url(../icon/icon1.png);
	background-position:-80px 0 ;
}
#span1 b,#span2 b,#span3 b,#span4 b,#span5 b{
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url(../icon/icon1.png);
	background-position: -100px 0;
}
#span1 ul li,#span2 ul li,#span3 ul li,#span4 ul li,#span5 ul li{
	float: left;
}

.barMeLeft{
	
}
.barMeRight{
	height:360px ;
	background:#fff;
	position: absolute;
	left: 220px;
	z-index: 11;
}
.barMeRight div{
		width:440px;
	height:360px ;
	background:#fff;
	float: left;
	left: 220px;
	z-index: 11;
	display: none;
	padding: 20px;
	box-sizing: border-box;
}
div.barRitdiv{
	display: block;
}
div.barRitdiv img{
	width: 100%;
}
.barMeRight>div li{
	width: 110px;
    margin: 10px;
    height: 85px;
    float: left;
}
.barMeRhtli span{
	width: 100%;
    height: 41px;
    text-align: center;
    display: block;
}
.barMeRhtli span:nth-child(1){
	font-size: 18px;
    color: #333;
    line-height: 60px;
    font-family: "微软雅黑";
}
.barMeRhtli span:nth-child(1):hover{
	font-size: 18px;
    color: 	#ff6767;
    line-height: 60px;
    font-family: "微软雅黑";
}
.barMeRhtli span:nth-child(2){
	font-size: 12px;
    color: #999;
    line-height: 40px;
}

/*--------------------header end--------------------*/

/*--------------------section start--------------------*/
.section{
	width:1200px;
	margin: 34px auto;
	font-family: "微软雅黑";
}
.section-top{
	width: 100%;
	height: 120px;
	box-sizing: border-box;
	padding:10px 40px ;
	background: #ddd;
}
.section-middin{
	width: 100%;
	margin-top: 30px;
}
.section-middin:after{
	content: "";
	display: block;
	clear: both;
}

.section-top{}
.section-top ul{}
.section-top li{
	width: 357px;
	height: 100px;
	float: left;
	margin-right:20px;
}
.section-top li:nth-child(3){
	margin-right: 0;
}
.secloopul{}
.secloopul li{}
.secloopul li a{
	width: 100%;
	height: 30px;
	display: block;
	color: #333;
	font-size: 20px;
	font-family: "微软雅黑";
	line-height: 30px;
	
}
.secloopul li span{
	width: 100%;
	height: 30px;
	display: block;
	text-align: left;
	color: #999;
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 40px;
}
.secloopul li p{
	width: 100%;
	height: 40px;
	display: block;
	color: #333;
	font-size: 13px;
	font-family: "微软雅黑";
	line-height: 20px;
}
.secMidLeft,.secMidMid,.secMidRight{
	width: 310px;
	height: 400px;
	float: left;
	margin-left: 67px;
}
.secMidMid{

}
.smlTop{
	width:100%;
	height: 40px;
}
.smlTop ul{}
.smlTop li{
	float: left;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	font-family: "微软雅黑";
	cursor: pointer;
}
.smlTop li:nth-child(1){
	width: 15%;
	height: 37px;
	margin-left: 10px;
}
.smlTop li:hover{
	color:#FE5761;
}
.smlTopls{
	border-bottom: 3px solid #FE5761;
}
.smlTop li:nth-child(2){
	width: 15%;
	height: 37px;
	margin-left: 5px;
}
.secMidRight .smlTop li:nth-child(1){
	width: 30%;
	height: 37px;
	margin-left: 10px;
}
.smlTopls{
	border-bottom: 3px solid #FE5761;
}
.secMidRight .smlTop li:nth-child(2){
	width: 0%;
	height: 37px;
	margin-left: 5px;
}
span{
	width: 60%;
	display: block;
	height: 40px;
	float: left;
	text-align: right;
	line-height: 40px;
	font-size: 20px;
	margin-right: 10px;
	font-family: "微软雅黑";
	cursor: pointer;
}
.secMidLeft img,.secMidMid img,.secMidRight img{
	width: 100%;
	height: 140px;
	transition:1s;
}
.secMidLeft img:hover,.secMidMid img:hover,.secMidRight img:hover{
	transform: scale(1.3,1.3);
	transition:2s;
	cursor: pointer;
}
.smlMid{
	width: 100%;
	height: 140px;
	overflow: hidden;
}
.smlbBtm{
	width: 100%;
	height: 220px;
}
.secMidRight{
	
}
/* ---------------------------------content  tab*/
.smlTab1{
	width:310px ;
	height: 360px;
	display: none;
}
.smlTab2{
	width:310px ;
	height: 360px;
	display: none;
}
.smlTab2 li{
	border:1px solid #e1e1e1;
	font-size: 18px;
	font-family: "微软雅黑";
    float: left;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 10px 16px 5px 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
}
.smlTab2 li:hover{
	color:#FE5761;
	border: 1px solid #FE5761;
	cursor: pointer;
}
.smlTab2 li:nth-child(3n){
	margin-right: 0;
}
.smlTabDisNone{
	display: block;
}
/*---------------------smlbBtm list--------------*/
.smlbBtm li{
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	color: #333;
	box-sizing: border-box;
	margin-left:25px ;
	list-style: circle;
}
.smlbBtm li:hover{
	color: #FE5761;
	cursor: pointer;
}
.section-bottom{
	margin-top: 30px;
	width: 100%;
	border-top: 1px solid #999;
}
.section-bottom li:hover{
	color: #FE5761;	
	cursor: pointer;	
}
.section-bottom li a:hover{
	color: #FE5761;
	cursor: pointer;	
}
.secBtmTop{
	width: 100%;
	height: 40px;
}
.secBtmTopLeft{
	width: 49%;
	height: 40px;
	float: left;
}
.secBtmTopRight{
	width: 49%;
	height: 40px;
	float: right;
	box-sizing: border-box;
	padding-left: 117px;
}
.secBtmTopRight li{
	width:65px;
	height: 40px;
	float: left;
	font-size:16px;
	color: #333;
	line-height: 40px;
	text-align: center;
}
.secBtmTopLeft li{
	width: 15%;
	height: 38px;
	float: left;
	cursor: pointer;
	float: left;
	font-size:18px;
	color: #333;
	line-height: 40px;
	text-align: center;
}
.secBtmTopLeft li:nth-child(3){
	width: 30%;
	height: 38px;
	float: left;
}
.secBtmTopLeft li.secBtmTopLeftLoop{
	border-bottom: 2px solid #FE5761;
}
.secBtmdivs div{
	width: 100%;
	height: 930px;
	display: none;
}
div.secBtmdivsnone{
	display: block;
}
.secBtmShow{}
.secBtmShow li{
	width: 250px;
	height: 310px;
	margin-right:66px ;
	float: left;
	box-sizing: border-box;
	color:#999;
	font-size: 14px;
	text-align: center;
}
.secBtmShow li:hover{
	border: 2px solid #FE5761;
}
.secBtmShow li img{
	width: 100%;	
	transform: 0.5s;
}
.secBtmShow li img:hover{
	transform: rotateY(20deg);	
	transform: 0.5s;
}
.secBtmShow li a{
	color: #333;
	font-size: 18px;
	font-weight: 500;
}
.secBtmShow li:nth-child(4n){
	margin-right: 0;
}/*--------------------close door---------------------*/
.section-opendoor{
	width: 1200px;
	height: 200px;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
	background: url(../img/secclosedoor3.jpg) center center;
	background-size:100% 100% ;
	position: relative;
	overflow: hidden;
	transition: 1s;
}

.secoprdLeft{
	width: 1200px;
	height: 200px;
	position: absolute;
	left: -1100px;
	top 0
}
.secoprdRight li,.secoprdLeft li{
	width: 120px;
	height: 200px;
	margin-left:10px;
	float: left;
	color: #fff;
	font-size: 100px;
	text-align: center;
	line-height: 200px;
	font-family:qingniaoliujiang;
	transition: 1s;
}

@font-face {
	font-family:qingniaoliujiang;
	src: url("../font/bb2487/zhongqiliujiang.ttf");	
}
.secoprdRight li:hover,.secoprdLeft li:hover{
	transform: scale(2,2);
	color: #000;
	transition: 1s;	
}
li.secContScale{
	transform: scale(2,2);
	color: black;
	color: #000;
	transition: 1s;
}
.secoprdLeftmo1{
	transform: translateX(1100px);
	transition: 2s;
}
.secoprdRight{
	width: 1200px;
	height: 200px;
	position: absolute;
	right: -1100px;
	top 0
}
.secoprdRightmo1{
	transform: translateX(-1100px);
	transition: 2s;
}

/*--------------------section end--------------------*/


/*--------------------footer start--------------------*/
.footer{
	background: url(../img/site_footer_bg.jpg);
}
.footer a:hover,.footer li:hover{
	color:#FE5761 ;
}
.footer-magin{
	width: 1200px;
	height: 300px;
	margin:0 auto;
}
.footerTop{
	width: 100%;
	height: 200px;
}
.footerTop ul li{
	width: 150px;
	height: 200px;
	text-align: center;
	font-family: "微软雅黑";
	float: left;
	margin-left: 17px;
}
.footerListContent{}
.footerListContent dt{
	font-size: 18px;
	margin-top: 1px;
	height: 30px;
	color: #222;
	line-height: 30px;
	font-family: "微软雅黑";
}
.footerListContent dd{
	margin-top: 1px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}
.footerListContent a{
	color: #666;
}
.footerListContent dt a{
	color: #333;
}
.footerListContent dd.footer-mid-logo{
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid #eee;
	background: #eee;
	border-radius: 100px;	
	margin: 0 auto;
	box-shadow: 1px 1px 5px;

}
.footerListContent dd.footer-mid-logo img{
	width: 80%;
	margin-top:20px ;
}
.footerListContent dd.footer-mid-logo span{
	font-size: 6px;
	line-height: 0px;
	margin-left: 12px;
	color:#FE5761
}
.footerBottom{
	width: 100%;
	height:100px;
}
.footerBottom ul{
	width: 300px;
	height: 100px;
	margin: 0 auto;
}
.footerBottom li{
	width: 300px;
	height: 25px;
	margin: 0 auto;
	line-height: 68px;
	color: #666;
	text-align: center;
}
dd.erweima{
	width: 100%;
	height: 100px;
	margin-top: 20px;
}
dd.erweima:hover{
	transform: scale(1.5,1.5);
	transition: 1s;
}
dd.guanzhu{
	width: 90px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	line-height: 20px;
}
dd.guanzhu img{
	width: 20px;
	height: 20px;
}
dd.guanzhu span{
	width: 50px;
	height: 20px;
	color: #FE5761;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	float: right;
	display: block;
}
.aside{
	width: 80px;
	height: 150px;
	border-radius: 100px;
	position: fixed;
	bottom:50px;
	right: 50px;
	overflow: hidden;
	background: #fff;
	cursor: pointer;
	display: none;
	transition: 1px;
}
.asideblock{
	display: block;
	transition: 1px;
}
.aside img{
	width: 100%;
}
.aside span{
	width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	font-weight: 600;
	display: block;
	border: 1px solid #FE5761;
	font-family: qingniaoliujiang;
	margin:0px 0  0 10px;
	color: #FE5761;
}
/*-------------s-------footer end--------------------*/