@charset "utf-8";
/**------------------header-------------------*/
.header{
	width:100% ;
	height: 300px;
	border: 1px solid red;
}
/*吸顶导航栏*/
.nav{
	height:56px;
	width: 100%;
	color: #fff;
	background: #333;
}
.navfixed{
	height: 56px;
    background: #333;
    color: #999;
    top: 0;
    position: fixed;
    z-index: 10000;
    width: 100%;
    left: 0;
    min-width: 990px;
}
/*导航栏内容*/
.navLeft{
	width: 50%;
	float: left;
	height: 56px;
	border: 1px solid red;
	box-sizing: border-box;
	background: url(../icon/logo_gray.png) no-repeat left center;
}
.navRight{
	width: 50%;
	float: right;
	height: 56px;
	border: 1px solid blue;
	box-sizing: border-box;
}
/*--------------------header end--------------------*/

/*--------------------section start--------------------*/
.section{
	width:1200px;
	height: 600px;
	border: 1px solid red;
	margin: 0 auto;
}
/*--------------------section end--------------------*/


/*--------------------footer start--------------------*/
.footer{
	/*width: ;*/
	height: 300px;
	border: 1px solid red;
}
/*--------------------footer end--------------------*/